.detailsPage {
    color: var(--text-secondary);
    padding: clamp(1rem, 3vw, 3rem) clamp(1rem, 2vw, 2rem);
    color: #1d1d1f;
    border-radius: clamp(20px, 4vw, 40px);
    margin: 0 20px;
}

.pageTitle {
    font-size: 2.1rem;
    font-weight: 700;
    color: var(--color-primary);
    text-align: center;
    margin: 0 0 20px;
}
